$gray-bg: #E6E6E6;
$gray-bg2: #ECE8E1;

$l-1: #b6b5b5;
$l-2: #b6b5b5;
$l-3: #b6b5b5;  
$l-4: #e9e9e9;

$l-title: 25px;
$lFlex-gap: 15px;
$l-border: 4px;
$lB-border: 8px;

$wrapper: 70%;

$tungsten: "Tungsten-Bold";

@font-face {font-family: "Tungsten-Bold";
    src: url("../../public/Assets/Fonts/Tungsten-Bold.ttf") format("truetype"), 
  }